In [1]:
# Python's strings are immutable sequences.

string = "Hello World!"
string[0] = "B"
string

TypeError: 'str' object does not support item assignment

In [3]:
# Multiline strings

string = ''' I am 

learning Python'''
string

23

   Operations on strings

In [5]:
# Concatinate : + is used to conatinate strings

string_1 = "Hello"
string_2 = " World!"
string = string_1 + string_2
string

'Hello World!'

In [8]:
# Replicate : * is used to replicate strings

string = "Hello World!    "  *  3
string

'Hello World!    Hello World!    Hello World!    '

In [9]:
# ord() : used to know  a specific character's ASCII/UNICODE code point value.

string = "h"
ord(string)

104

In [10]:
#chr() : used to know the character of a code point(number).

number = 40
chr(number)

'('

In [4]:
#Strings as sequences: indexing
string = "Hello World!"
for i in range(len(string)):
    print("index: {}   value: {} ".format(i, string[i]))

index: 0   value: H
index: 1   value: e
index: 2   value: l
index: 3   value: l
index: 4   value: o
index: 5   value:
index: 6   value: W
index: 7   value: o
index: 8   value: r
index: 9   value: l
index: 10   value: d
index: 11   value: !

In [5]:
#Strings as sequences: iterating
string = "Hello World!"
for i in string:
    print(i)

H
e
l
l
o

W
o
r
l
d
!

In [20]:
##### Slicing
string = "Hello World"
print("Starts from index (1) until index (2):",string[1:3],"\n")
print("Starts from index(3) until the end of the string:",string[3:],"\n")
print("Starts from index(3) until index(-3)", string[3:-2],"\n")
print("Starts from index(-5) until index(-6)", string[-5:7],"\n")
print("Starts from index(0) the end of the string , but step 2 ", string[::2],"\n")

Starts from index (1) until index (2): el

Starts from index(3) until the end of the string: lo World

Starts from index(3) until index(-3) lo Wor

Starts from index(-5) until index(-6) W

Starts from index(0) the end of the string , but step 2  HloWrd

In [22]:
#The in and not in operators
string = "Hello World!"

#in
print("1" in string,"\n" )

#not in
print("1" not in string,"\n")

False

True

In [31]:
#Python strings are immutable
#can not append and insert with strings

string = "Hello World!"
#del string[0]

string_a = "Hello"
string_b = string_a + " Wolrd!"
string_b

string_a = "Hello"+ " World!"
string_a

'Hello World!'

In [41]:
#Operations on strings: min() :finds the minimum element of the sequence passed as an argument.

print(min("Hello Adams"))

In [42]:
#Operations on strings: max()
print(max("Hello Adams"))

s

In [44]:
#Operations on strings: the index() :searches the sequence from the beginning, in order to find the first element of the value specified in its argument

string = "I am learning Python."
print(string.index("a"))

2

In [45]:
#Operations on strings: the list() : takes its argument (a string) and creates a new list containing all the string's characters, one per list element.

string = " Hello"
print(list(string))

[' ', 'H', 'e', 'l', 'l', 'o']

In [46]:
#Operations on strings: the count() :counts all occurrences of the element inside the sequence.

string = "Hello"
print(string.count("l"))

2

Exercise 1

What is the length of the following string assuming there is no whitespaces between the quotes?

In [47]:
empty_str = '''

'''
len(empty_str)

2

Exercise 2

What is the expected output of the following code?

In [48]:
s = 'yesteryears'
the_list = list(s)
print(the_list[3:6])

['t', 'e', 'r']

Exercise 3

What is the expected output of the following code?

In [49]:
for ch in "abc":
    print(chr(ord(ch) + 1), end='')

bcd